{   
    "env": {
        "production": {
            "presets": [
                [
                    "env",
                    {
                        "modules": "systemjs"
                    }
                ]
            ],
            "plugins": []
        },
        "test": {
            "presets": [
                [
                    "env",
                    {
                        "modules": "commonjs"
                    }
                ]
            ],
            "plugins": []
        }
    }
}